@import "base";

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px auto;
    grid-template-areas: 
        "header"
        "list";

    header {
        grid-area: header;
        font-size: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        small {
            margin-top: 1em;
            font-size: 20px;
        }
    }

    ul {
        grid-area: list;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin: .5em 0;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}