@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 250px;
  text-align: center;
  grid-area: header;
  font-size: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header small {
  margin-top: 1em;
  font-size: 20px;
}

.hide {
  display: none!important;
}

#navbar {
  grid-area: list;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar a {
  margin: .5em 0;
  text-decoration: none;
}

#navbar a:hover {
  text-decoration: underline;
}

#navbar a[href="#"] {
  cursor: text;
  color: #cecece;
  cursor: default;
}

#navbar a[href="#"]:hover {
  text-decoration: inherit;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display > * {
  padding: 5px 0;
}

#display input[type=range] {
  margin: 0 5px;
}